<h2 class="text-center">Reactive Form</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>First Name:</label>
    <input type="text" formControlName="firstName" />
    <div
      *ngIf="userForm.get('firstName')!.invalid && (userForm.get('firstName')!.dirty || userForm.get('firstName')!.touched)">
      <div *ngIf="userForm.get('firstName')!.errors?.['required']">First name is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Last Name:</label>
    <input type="text" formControlName="lastName" />
    <div
      *ngIf="userForm.get('lastName')!.invalid && (userForm.get('lastName')!.dirty || userForm.get('lastName')!.touched)">
      <div *ngIf="userForm.get('lastName')!.errors?.['required']">Last name is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Email:</label>
    <input type="email" formControlName="email" />
    <div *ngIf="userForm.get('email')!.invalid && (userForm.get('email')!.dirty || userForm.get('email')!.touched)">
      <div *ngIf="userForm.get('email')!.errors?.['required']">Email is required.</div>
      <div *ngIf="userForm.get('email')!.errors?.['email']">Invalid email format.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Phone:</label>
    <input type="text" formControlName="phone" />
    <div *ngIf="userForm.get('phone')!.invalid && (userForm.get('phone')!.dirty || userForm.get('phone')!.touched)">
      <div *ngIf="userForm.get('phone')!.errors?.['required']">Phone is required.</div>
      <div *ngIf="userForm.get('phone')!.errors?.['pattern']">Invalid phone number format. Must be in the format of 9999999999.</div>
    </div>
  </div>


  <div class="form-group">
    <label>Company:</label>
    <input type="text" formControlName="company" />
    <div
      *ngIf="userForm.get('company')!.invalid && (userForm.get('company')!.dirty || userForm.get('company')!.touched)">
      <div *ngIf="userForm.get('company')!.errors?.['required']">Company is required.</div>
    </div>
  </div>

  <div class="form-group gender-group">
    <label>Gender:</label>
    <select formControlName="gender">
      <option value="">Select
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <div *ngIf="userForm.get('gender')!.invalid && (userForm.get('gender')!.dirty || userForm.get('gender')!.touched)">
      <div *ngIf="userForm.get('gender')!.errors?.['required']">Gender is required.</div>
    </div>
  </div>

  <div class="form-group date-of-birth-group">
    <label>Date of Birth:</label>
    <input type="date" formControlName="dob" />
    <div *ngIf="userForm.get('dob')!.invalid && (userForm.get('dob')!.dirty || userForm.get('dob')!.touched)">
      <div *ngIf="userForm.get('dob')!.errors?.['required']">Date of birth is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Password:</label>
    <input type="password" formControlName="password" />
    <div
      *ngIf="userForm.get('password')!.invalid && (userForm.get('password')!.dirty || userForm.get('password')!.touched)">
      <div *ngIf="userForm.get('password')!.errors?.['required']">Password is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Confirm Password:</label>
    <input type="password" formControlName="confirmPassword" />
    <div
      *ngIf="userForm.get('confirmPassword')!.invalid && (userForm.get('confirmPassword')!.dirty || userForm.get('confirmPassword')!.touched)">
      <div *ngIf="userForm.get('confirmPassword')!.errors?.['required']">Confirm password is required.</div>
    </div>
  </div>

  <div class="buttons-container">
    <button type="submit">Add/Update User</button>
    <button type="button" (click)="resetForm()">Cancel</button>
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Company</th>
      <th>Gender</th>
      <th>Date of Birth</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- loop over the list of added users and display them in the table -->
    <tr *ngFor="let user of users; let i = index">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.company }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.dob }}</td>
      <td>
        <button (click)="editUser(i)" class="edit">Edit</button>
        <button (click)="deleteUser(i)" class="delete">Delete</button>
      </td>
    </tr>
  </tbody>
</table>